This notebook tries to find commune codes and names of CFs as they are represented in DB23 (`ncdd_admin_database_25provinces__2023.xlsx` from Lok on 20231212).

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from itables import show

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
from utils.match_commune_CF_vs_DB23 import *

In [5]:
# paths
code_path = Path().absolute()
datafd_path = code_path.parent.parent / 'data'
intmd_outfd_path = code_path.parent.parent / 'output_intmd' / 'match_CF_DB23'

## Read in data

### CF data: 74 CFs whose previously matched CDB communes (if any) fail to find it a DB23 commune
CF communes and districts names matched to CDB ones

a list of CDB villages in the commune each CF belongs to

and more

In [6]:
CF_vlst_df = pd.read_csv(intmd_outfd_path / 'CF_w_match_helper_vill_tomatch.csv')

## Initial processing of DB23

### Read in DB23 and stack all sheets vertically into `db_df`

In [7]:
DB23_path = datafd_path / 'other' / 'ncdd_admin_database_25provinces__2023.xlsx'
DB23_df_dic = pd.read_excel(DB23_path, sheet_name=None, header=2)  
# all sheets, key=sheet name, skip first 2 rows, make row 3 header

In [8]:
sht_name_lst = list(DB23_df_dic.keys())
db_prov_df_lst = [DB23_df_dic[sht] for sht in sht_name_lst]

In [9]:
db_df = pd.concat(db_prov_df_lst)

## ChatGPT

#### Step 1: Attempting to match using Code_Srok and Code_Khum (of CF) against the commune codes in the reference dataset (DB23)

In [15]:
db_comm_df = db_df[db_df.Type == 'ឃុំ']

In [16]:
# Apply the matching function to the subset data
CF_vlst_df['Matched_Commune_Name'], CF_vlst_df['Matched_Commune_Code'] = zip(
    *CF_vlst_df.apply(
        lambda row: match_commune_by_codes(row, ref_data=db_comm_df), axis=1
    )
)

In [19]:
# Display the results of the matching
show(CF_vlst_df[
    ['Code_Srok', 'Code_Khum', 'Matched_Commune_Code', 'Commune', 'Matched_Commune_Name', 'UniqueID']
])

CF UniqueID 170 matched with uncertainty, CF 31, 41, 14, 359, 295, 300, 301 partially matched.