In [3]:
from pathlib import Path
import pandas as pd
import numpy as np

# code_path = Path(__file__)
code_path = Path(r'C:\Users\tianc\OneDrive\Documents\SIG\DISES\code\MPI')
datafd_path = code_path.parent.parent / 'data' / 'MPI' 
outfd_path = code_path.parent.parent / 'output' / 'data'

### khm dhs10

#### check out microdata with cluster no.

In [4]:
df = pd.read_stata(datafd_path / 'khm_dhs10' / 'khm_dhs10_clustno.dta')

In [3]:
df.shape

(37735, 33)

In [4]:
df.columns

Index(['hh_id', 'ind_id', 'psu', 'strata', 'subsample', 'weight', 'area',
       'region', 'region_01', 'agec4', 'agec2', 'headship', 'd_cm', 'd_nutr',
       'd_satt', 'd_educ', 'd_elct', 'd_wtr', 'd_sani', 'd_hsg', 'd_ckfl',
       'd_asst', 'd_cm_01', 'd_nutr_01', 'd_satt_01', 'd_educ_01', 'd_elct_01',
       'd_wtr_01', 'd_sani_01', 'd_hsg_01', 'd_ckfl_01', 'd_asst_01',
       'clust_no'],
      dtype='object')

In [5]:
df.describe()

,hh_id,ind_id,psu,weight,d_cm,d_nutr,d_satt,d_educ,d_elct,d_wtr,...,d_nutr_01,d_satt_01,d_educ_01,d_elct_01,d_wtr_01,d_sani_01,d_hsg_01,d_ckfl_01,d_asst_01,clust_no
count,3.773500e+04,3.773500e+04,37735.000000,37735.000000,37595.000000,36966.000000,37735.000000,37726.000000,37731.000000,37731.000000,...,36966.000000,37735.000000,37726.000000,37731.000000,37731.000000,37735.000000,37735.000000,37735.000000,37735.000000,37735.000000
mean,3.069423e+06,3.069423e+08,306.937273,0.979027,0.036042,0.379781,0.116815,0.282007,0.608889,0.449047,...,0.379781,0.116815,0.282007,0.608889,0.449047,0.617199,0.381582,0.875288,0.170876,306.937273
std,1.754140e+06,1.754140e+08,175.413859,0.697763,0.186397,0.485339,0.321204,0.449983,0.488006,0.497404,...,0.485339,0.321204,0.449983,0.488006,0.497404,0.486077,0.485781,0.330396,0.376405,175.413859
min,1.000100e+04,1.000101e+06,1.000000,0.053016,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.550056e+06,1.550056e+08,155.000000,0.383321,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,155.000000
50%,3.060072e+06,3.060072e+08,306.000000,0.849375,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,306.000000
75%,4.580004e+06,4.580004e+08,458.000000,1.409156,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,458.000000
max,6.110043e+06,6.110043e+08,611.000000,3.767064,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,611.000000

In [7]:
np.sort(df.clust_no.unique())  # 1 - 611

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150., 151., 152., 153., 154.,
       155., 156., 157., 158., 159., 160., 161., 162., 163., 164., 165.,
       166., 167., 168., 169., 170., 171., 172., 173., 174., 175., 176.,
       177., 178., 179., 180., 181., 182., 183., 184., 185., 186., 187.,
       188., 189., 190., 191., 192., 193., 194., 195., 196., 197., 198.,
       199., 200., 201., 202., 203., 204., 205., 206., 207., 208., 209.,
       210., 211., 212., 213., 214., 215., 216., 217., 218., 219., 220.,
       221., 222., 223., 224., 225., 226., 227., 228., 229., 230., 231.,
       232., 233., 234., 235., 236., 237., 238., 239., 240., 241., 242.,
       243., 244., 245., 246., 247., 248., 249., 250., 251., 252., 253.,
       254., 255., 256., 257., 258., 259., 260., 261., 262., 263., 264.,
       265., 266., 267., 268., 269., 270., 271., 272., 273., 274., 275.,
       276., 277., 278., 279., 280., 281., 282., 283., 284., 285., 286.,
       287., 288., 289., 290., 291., 292., 293., 294., 295., 296., 297.,
       298., 299., 300., 301., 302., 303., 304., 305., 306., 307., 308.,
       309., 310., 311., 312., 313., 314., 315., 316., 317., 318., 319.,
       320., 321., 322., 323., 324., 325., 326., 327., 328., 329., 330.,
       331., 332., 333., 334., 335., 336., 337., 338., 339., 340., 341.,
       342., 343., 344., 345., 346., 347., 348., 349., 350., 351., 352.,
       353., 354., 355., 356., 357., 358., 359., 360., 361., 362., 363.,
       364., 365., 366., 367., 368., 369., 370., 371., 372., 373., 374.,
       375., 376., 377., 378., 379., 380., 381., 382., 383., 384., 385.,
       386., 387., 388., 389., 390., 391., 392., 393., 394., 395., 396.,
       397., 398., 399., 400., 401., 402., 403., 404., 405., 406., 407.,
       408., 409., 410., 411., 412., 413., 414., 415., 416., 417., 418.,
       419., 420., 421., 422., 423., 424., 425., 426., 427., 428., 429.,
       430., 431., 432., 433., 434., 435., 436., 437., 438., 439., 440.,
       441., 442., 443., 444., 445., 446., 447., 448., 449., 450., 451.,
       452., 453., 454., 455., 456., 457., 458., 459., 460., 461., 462.,
       463., 464., 465., 466., 467., 468., 469., 470., 471., 472., 473.,
       474., 475., 476., 477., 478., 479., 480., 481., 482., 483., 484.,
       485., 486., 487., 488., 489., 490., 491., 492., 493., 494., 495.,
       496., 497., 498., 499., 500., 501., 502., 503., 504., 505., 506.,
       507., 508., 509., 510., 511., 512., 513., 514., 515., 516., 517.,
       518., 519., 520., 521., 522., 523., 524., 525., 526., 527., 528.,
       529., 530., 531., 532., 533., 534., 535., 536., 537., 538., 539.,
       540., 541., 542., 543., 544., 545., 546., 547., 548., 549., 550.,
       551., 552., 553., 554., 555., 556., 557., 558., 559., 560., 561.,
       562., 563., 564., 565., 566., 567., 568., 569., 570., 571., 572.,
       573., 574., 575., 576., 577., 578., 579., 580., 581., 582., 583.,
       584., 585., 586., 587., 588., 589., 590., 591., 592., 593., 594.,
       595., 596., 597., 598., 599., 600., 601., 602., 603., 604., 605.,
       606., 607., 608., 609., 610., 611.])

In [8]:
all(df.psu == df.clust_no)

True

In [10]:
df.ind_id.is_unique

True

In [15]:
df.dropna().shape, df.shape  # less than 1000 missing

((36890, 33), (37735, 33))

In [18]:
df.loc[:, df.columns.str.startswith('d')].describe()  # indicators: 0/1

,d_cm,d_nutr,d_satt,d_educ,d_elct,d_wtr,d_sani,d_hsg,d_ckfl,d_asst,d_cm_01,d_nutr_01,d_satt_01,d_educ_01,d_elct_01,d_wtr_01,d_sani_01,d_hsg_01,d_ckfl_01,d_asst_01
count,37595.000000,36966.000000,37735.000000,37726.000000,37731.000000,37731.000000,37735.000000,37735.000000,37735.000000,37735.000000,37595.000000,36966.000000,37735.000000,37726.000000,37731.000000,37731.000000,37735.000000,37735.000000,37735.000000,37735.000000
mean,0.036042,0.379781,0.116815,0.282007,0.608889,0.449047,0.617199,0.381582,0.875288,0.170876,0.036042,0.379781,0.116815,0.282007,0.608889,0.449047,0.617199,0.381582,0.875288,0.170876
std,0.186397,0.485339,0.321204,0.449983,0.488006,0.497404,0.486077,0.485781,0.330396,0.376405,0.186397,0.485339,0.321204,0.449983,0.488006,0.497404,0.486077,0.485781,0.330396,0.376405
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### a single sample weight in each cluster?

In [6]:
df = pd.read_stata(datafd_path / 'khm_dhs10' / 'khm_dhs10_clustno.dta')

In [19]:
n_wgt_per_hh = df.groupby('hh_id')['weight'].nunique()
all(n_wgt_per_hh == 1)

True